$text-color: #000;

$link-color: inherit;
$link-decoration: none;
$link-active-color: inherit;
$link-active-decoration: underline;

$nav-background-color: #888;
$nav-link-color: #444;
$nav-link-active-color: #fff;
$nav-link-font-size: 14px;
$subnav-link-color: #444;
$subnav-link-active-color: #fff;
$subnav-link-font-size: 12px;

$table-border: 1px solid #ccc;
$table-header-color: #fff;
$table-header-background: #444;
$table-header-alt-background: #333;
$table-header-border: 1px solid #ccc;

$table-subheader-color: #fff;
$table-subheader-background: #555;

$table-row-even-background: #ddd;
$table-row-odd-background: #bbb;

$average-background: #ccc;
$average-color: #000;
